RewriteEngine On

## TODO -- Don't redirect /blog to /blog.php


RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite - as / (eg /feature-git.php becomes /feature/git)
RewriteRule ([^/]+)/([^/]+) $1-$2.php [NC,L]

# Remove file extension (eg /features.php becomes /features)
RewriteRule ^([^\.]+)/$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
