RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite - as / (eg /feature/git forwards to /feature-git.php)
RewriteRule ([^/]+)/([^/]+) $1-$2.php [NC,L]

# Remove file extension (eg /features/ forwards to /features.php)
RewriteRule ^([^\.]+)/$ $1.php [NC,L]
